.our_services_container {
  background-color: var(--box-light);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 7em 0;
}

.our_services_container h1 {
  font-size: 2.5em;
  font-weight: 900;
  color: var(--color-primary-light);
  width: 50ch;
}
.our_services_container p {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--color-tertiary-light);
  width: 50ch;
}

.grid_container {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(4, fit-content(270px));
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  row-gap: 2em;
  width: clamp(300px, 90%, 1400px);
}

.grid_item {
  box-shadow: var(--shadow-neutral);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.grid_container h3 {
  width: 100%;
  padding: 1.2em 0;
  font-weight: 700;
  color: var(--color-primary-light);
  background-color: var(--bg-light);
}

.img_container {
  width: 18em;
  height: 15em;
  overflow: hidden;
}
.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.grid_container ul {
  position: absolute;
  top: 40%;
  left: 50%;
  list-style: none;
  z-index: 2;
  background-color: #0000003a;
  width: 12%;
  height: 12%;
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  border-radius: 50%;
  transition: all 200ms;

  &:hover {
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    transition: all 200ms;
    background-color: #00000089;
    left: 0%;
    top: 0%;
    color: var(--color-primary-dark);
  }

  &:hover span {
    color: transparent;
  }
}

.grid_container ul span {
  color: var(--color-primary-dark);
  font-size: 1.5em;
  position: absolute;
  left: 0.34em;
  bottom: 0.2em;
}
