.user_cards_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  background: var(--box-light);
  gap: 1.5em;
  padding: 3em 4em;
  justify-content: center;
}

.user_card {
  background: var(--bg-light);
  border-radius: 5px;
  border: 1px solid var(--border-light);
  height: 25em;
  color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: -6em;
    left: 0;
    border-radius: 100px;
    background: var(--purple-weak);
    width: 25em;
    height: 18em;
    z-index: -1;
  }
}

.aditional_info {
  position: absolute;
  top: 0.8em;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  display: flex;
  align-items: center;
  padding-left: 1em;
  gap: 0.2em;
  font-weight: 800;
  color: var(--color-secondary-light);
}

.newmember_tag {
  font-size: 0.7em;
  font-weight: 700;
  border: 1px solid var(--border-light);
  text-align: center;
  margin-right: 0.5em;
  padding: 0.4em;
  border-radius: 4px;
  background-color: var(--box-light);
  color: var(--color-tertiary-light);
}

.image {
  background: var(--box-light);
  border-radius: 50%;
  position: absolute;
  top: 3em;
  left: 25%;
}

.user_data_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.title {
  font-size: 2em;
  color: var(--color-primary-light);
}

.location {
  display: flex;
  gap: 0.2em;
  font-size: 0.8em;
  transform: translateY(-1.3em);
  color: var(--color-secondary-light);
}

.professions_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2em;
  width: 14em;
  margin: 0 auto;
}

.professions {
  border: 2px solid var(--border-light);
  background-color: var(--box-light);
  color: var(--color-primary-light);
  width: max-content;
  border-radius: 4px;
  padding: 0.4em;
  font-size: 0.8em;
}

.btns_container {
  position: absolute;
  bottom: 2em;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.btns {
  border: none;
  padding: 0.8em;
  color: var(--color-primary-dark);
  background-color: var(--purple-medium);
  border-radius: 4px;
  font-weight: 600;
  transition: all 200ms;
  display: flex;
  align-items: center;
  gap: 0.3em;

  &:hover {
    background-color: var(--purple-strong);
    color: var(--bg-light);
    transition: all 200ms;
    cursor: pointer;
  }

  &:active {
    scale: 0.95;
  }
}
