.main_container {
  height: auto;
  background-color: var(--bg-light);
  width: 100%;
  display: flex;
  justify-content: space-between;

  .filter_container {
    background: #363636dc;
    color: white;
    height: 32em;
    width: 25em;
  }
}
