@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* Dark Theme base */
  --bg-dark: #1b1b1f;
  --color-primary-dark: #fffff5db;
  --color-secondary-dark: #ebebf599;
  --box-dark: #202127;
  --btn-dark: #32363f;
  --btn-dark-hover: #414853;
  --btn-color-dark: #fffff5db;

  /* Light Theme base */
  --bg-light: #fff;
  --color-primary-light: #3c3c43;
  --color-secondary-light: #3c3c43c7;
  --box-light: #f6f6f7;
  --btn-light: #ebebef;
  --btn-light-hover: #e4e4e9;
  --btn-color-light: #3c3c43;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

* {
  transition: background-color 500ms;
}
