@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* Dark Theme base */
  --bg-dark: #1b1b1f;
  --color-primary-dark: #fffff5db;
  --color-secondary-dark: #ebebf599;
  --box-dark: #33353f;
  --border-dark: #474a58;
  --btn-dark: #32363f;
  --btn-dark-hover: #414853;
  --btn-color-dark: #fffff5db;

  /* Light Theme base */
  --bg-light: #fff;
  --color-primary-light: #3c3c43;
  --color-secondary-light: #3c3c43c7;
  --color-tertiary-light: #777e87;
  --box-light: #f3f3f3;
  --border-light: #ccc;
  --btn-light: #ebebef;
  --btn-light-hover: #ceced3;
  --btn-color-light: #3c3c43;

  --purple-strong: #756ab6;
  --purple-medium: #ac87c5;
  --purple-weak: #e0aed0;

  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-size: calc(7.5px + 0.5vw);
  font-family: 'Inter', sans-serif;
  font-weight: 500;

  .loader-container {
    background-color: var(--bg-dark);
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info-message {
      font-size: 1.4em;
      color: var(--color-primary-dark);
    }
  }

  .notfound-container {
    background-color: var(--bg-dark);
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2,
    p {
      color: var(--color-primary-dark);
    }
  }
}

* {
  transition: background-color 500ms;
}
