/* Light Theme */

.settings_menu {
  position: absolute;
  right: 3em;
  display: flex;
  align-items: center;
  gap: 1.5em;
  z-index: 100;
}

.acces_btns_container {
  display: flex;
  gap: 0.5em;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: -0.8em;
    width: 2px;
    height: 2.6em;
    opacity: 0.5;
    background-color: var(--border-light);
  }
}

.login_btn {
  background-color: var(--bg-light);
  padding: 1em 2em;
  border: 1px solid #80808042;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.85em;
  color: var(--color-tertiary-light);
  border: 1px solid var(--color-tertiary-light);

  &:hover {
    background-color: var(--bg-light);
    color: var(--blue-medium);
    border: 1px solid var(--blue-medium);
    cursor: pointer;
    transition: 200ms;
  }
  &:active {
    scale: 0.9;
  }
}

.signup_btn {
  background: var(--blue-strong);
  padding: 1em 2em;
  border: 1px solid #80808042;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.85em;
  color: var(--color-primary-dark);

  &:hover {
    background-color: var(--blue-medium);
    color: var(--color-secondary-dark);
    cursor: pointer;
    transition: 200ms;
  }
  &:active {
    scale: 0.9;
  }
}

.theme_btns_container {
  border: none;
  background-color: transparent;
  position: relative;
  left: 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--blue-strong);
  font-size: 1.3em;

  &:hover {
    color: var(--blue-medium);
    transition: 200ms;
  }

  &::after {
    content: '';
    position: absolute;
    top: -0.52em;
    left: -0.52em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--border-light);
    z-index: -1;
    opacity: 0;
    transition: 200ms;
  }

  &:hover::after {
    opacity: 0.3;
    transition: 200ms;
  }
}

.theme_options_hide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  border: 1px solid #0002;
  padding: 0.3em;
  border-radius: 5px;
  transition: 200ms;
  font-size: 0.8em;
  scale: 0;
  left: -3.5em;
  top: 3em;
}

.btn {
  width: 7em;
  text-align: center;
  padding: 0.6em 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: var(--border-light);
  }
}
.theme_options_visible {
  scale: 1;
  transition: 200ms;
  background-color: var(--bg-light);
  color: var(--color-primary-light);
}

.language_btn {
  border: none;
  cursor: pointer;
  background: transparent;

  &:active {
    scale: 0.9;
  }
}

/* Dark Theme */

.settings_menu_dark {
  position: absolute;
  right: 3em;
  display: flex;
  z-index: 100;
  align-items: center;
  gap: 1.5em;

  .theme_btns_container {
    color: var(--red-strong);
    &::after {
      background-color: var(--border-dark);
    }
  }
  .btn {
    &:hover {
      background-color: var(--border-dark);
    }
  }
  .theme_options_visible_dark {
    scale: 1;
    transition: 200ms;
    background-color: var(--box-dark);
    color: var(--color-primary-dark);
  }

  .language_btn {
    color: var(--color-primary-light);

    &:active {
      outline: 1px solid var(--border-light);
    }
  }
  .login_btn {
    background-color: var(--bg-light);

    &:hover {
      background-color: var(--bg-light);
      color: var(--red-medium);
      border: 1px solid var(--red-medium);
      transition: all 200ms;
    }
  }

  .signup_btn {
    background-color: var(--red-strong);

    &:hover {
      background-color: var(--red-medium);
    }
  }
}

/* Responsive Design */

@media (width < 750px) {
  .settings_menu {
    display: none;
  }
  .settings_menu_dark {
    display: none;
  }
}
