/* Light Theme */

.header_container {
  position: fixed;
  z-index: 50;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em 0em;
  background-color: var(--bg-light);
  font-weight: 600;
}

.navbar_fixed {
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px 0 #00000033;
  background: inherit;
}

.navbar {
  display: flex;
  gap: 2em;
}

.links {
  text-decoration: none;
  color: var(--color-secondary-light);
  border-bottom: 3px solid transparent;

  &:hover {
    color: var(--blue-medium);
    transition: all 200ms;
  }
}

.activeLink {
  color: var(--blue-medium);
  transition: all 1s;
  text-decoration: none;
  border-bottom: 3px solid var(--blue-medium);
}

.logo_container {
  position: absolute;
  left: 2em;
  cursor: pointer;
  color: var(--blue-strong);
  font-size: 1.5em;
  font-weight: 900;
  transition: all 200ms;

  &:hover {
    color: var(--blue-medium);
    transition: all 200ms;
  }
}

/* Dark Theme */

.header_container_dark {
  position: fixed;
  z-index: 50;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em 0em;
  background-color: var(--bg-dark);
  color: var(--color-primary-dark);

  .links {
    text-decoration: none;
    color: var(--color-primary-dark);
  }
}
