/* Light Theme */

.header_container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1.8em 0em;
  position: relative;
  background-color: var(--bg-light);
  font-weight: 600;
}
.navbar {
  display: flex;
  gap: 2em;
}

.links {
  text-decoration: none;
  color: var(--color-secondary-light);
}

.activeLink {
  color: red !important;
  text-decoration: none;
}

.logo_container {
  position: absolute;
  left: 2em;
  cursor: pointer;
}

/* Dark Theme */

.header_container_dark {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1.8em 0em;
  position: relative;
  background-color: var(--bg-dark);
  color: var(--color-primary-dark);
  font-weight: 600;

  .links {
    text-decoration: none;
    color: var(--color-primary-dark);
  }
}
