.header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1.5em 0em;
  position: relative;

  .logo {
    position: absolute;
    left: 2em;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    gap: 2em;

    .links {
      text-decoration: none;
      color: #1c1c1c;
    }

    .activeLink {
      color: red !important;
      text-decoration: none;
    }
  }

  .menu {
    position: absolute;
    right: 3em;
  }
}
