.landing {
  height: 80dvh;
  display: flex;

  .about_app {
    background-color: rgba(0, 0, 255, 0.08);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;
  }
}
