.main_container {
  display: flex;
  padding-top: 5.7em;
}

.landing_info_container {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3em;
  padding-left: 6em;
  gap: 3em;
}

.landing_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.title {
  font-size: 3.5em;
  line-height: 1.3em;
  font-weight: 900;
  color: var(--color-primary-light);
}

.paragraph {
  color: var(--color-tertiary-light);
  font-size: 1.3em;
  width: 50ch;
}

.paragraph strong {
  color: var(--color-primary-light);
  position: relative;
  font-weight: 800;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: -1em;
    left: 0;
    width: 22em;
    height: 10px;
    border-radius: 20px;
    background: linear-gradient(to left, #fff, var(--blue-strong));

    z-index: -1;
  }
}

.buttons_container {
  display: flex;
  gap: 1em;
}

.posts_btn,
.talents_btn {
  border: none;
  background: var(--blue-strong);
  padding: 1em 2em;
  border: 1px solid #80808042;
  border-radius: 10px;
  color: var(--color-primary-dark);
  font-weight: 500;

  &:hover {
    background-color: var(--blue-medium);
    color: var(--color-secondary-dark);
    cursor: pointer;
    transition: 200ms;
  }
  &:active {
    scale: 0.9;
  }
}

/* Dark Theme */

.main_container_dark {
  display: flex;
  background-color: var(--bg-dark);
  padding-top: 5.7em;

  .title {
    color: var(--color-primary-dark);
  }
  .paragraph {
    color: var(--color-tertiary-dark);
  }

  .paragraph strong {
    color: var(--color-primary-dark);
    &::after {
      background: linear-gradient(to left, var(--red-weak), var(--red-medium));
    }
  }

  .posts_btn,
  .talents_btn {
    background: var(--red-strong);
    &:hover {
      background-color: var(--red-medium);
    }
  }
}
/* Responsive Design */

@media (width < 1000px) {
  .landing_info_container {
    padding-left: 2em;
  }

  .landing_text_container {
    width: 100%;
  }

  .landing_text_container h1 {
    font-size: 3em;
  }
  .landing_text_container p {
    width: 90%;
    font-size: 1.5em;
  }
}

@media (width < 750px) {
  .landing_info_container {
    width: 60%;
  }

  .landing_text_container h1 {
    font-size: 2.5em;
  }

  .landing_text_container p {
    width: 100%;
  }

  .paragraph strong {
    &::after {
      display: none;
    }
  }
}
