.wraper_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  width: 30em;
  background-color: var(--bg-dark);
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.4em;
  align-items: center;
  color: #fff;
  position: relative;
}

.logo_container {
  display: flex;
  align-items: flex-end;
  gap: 0.2em;
}

.logo_container span {
  font-size: 1.9em;
  font-weight: bolder;
  color: var(--blue-medium);
}

.google_provider_btn {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: var(--bg-light);
  color: var(--color-primary-light);
  transition: all 200ms;

  &:hover {
    background-color: var(--box-light);
    cursor: pointer;
    color: var(--color-secondary-light);
    transition: all 200ms;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 90%;
}

.input {
  padding: 1.2em 1em;
  border-radius: 5px;
  background-color: var(--box-dark);
  border: 1px solid var(--color-tertiary-light);
  width: 100%;
  outline: none;
  font-weight: 400;
  font-size: 1.2em;
  color: var(--color-primary-dark);
  
  &:focus {
    transition: all 200ms;
    background-color: var(--border-dark);
    border-color: var(--color-primary-dark);
  }
}

.labels {
  width: 100%;
  position: relative;
}

.hide_password_btn {
  position: absolute;
  right: 1.2em;
  font-size: 1.5em;
  top: 1em;
  transition: all 300ms;
  cursor: pointer;
}

.send_form_btn {
  background: var(--bg-light);
  padding: 1em 2em;
  border: 1px solid #80808042;
  border-radius: 8px;
  font-weight: 700;
  color: var(--color-primary-light);

  &:hover {
    background-color: var(--box-light);
    color: var(--color-secondary-light);
    cursor: pointer;
    transition: 200ms;
  }
  &:active {
    scale: 0.9;
  }
}

.register_redirect_link {
  color: var(--blue-medium);
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.close_btn {
  position: absolute;
  right: 1.5em;
  top: 1.2em;
  border: none;
  background: transparent;
  color: var(--color-primary-dark);
  cursor: pointer;
  transition: color 200ms;
  font-size: 1.3em;

  &:hover {
    color: var(--color-secondary-dark);
    transition: color 200ms;
  }
}
